body.openerp {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
.openerp {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 80%;
    font-family: Roboto, DroidSans, Arial, sans-serif;
}

/* 2nd box between tabs and footer */
.openerp, .openerp textarea, .openerp input, .openerp select, .openerp option,
.openerp button, .openerp .ui-widget {
    font-family: Roboto, DroidSans, Arial, sans-serif;
    font-size:85%;
    background: #F1F1F1;
}

/* 3rd box - main page background */
.openerp .view-manager-main-content {
    width: 100%;
    padding: 0 8px 8px 8px;
    background: #F1F1F1;
}

.openerp .oe_form_frame_cell .view-manager-main-content {
    padding: 0;
}


.oe_box {
    border: 0px solid #F1F1F1;
    padding: 2px;
    margin: 2px;
}

#oe_header h2 {
    margin: 2px 0;
}

#oe_errors pre {
    margin: 0;
}

.openerp .oe-listview .oe-number {
    text-align: right !important;
}

/* Tree view table header dashboard included */
.oe-listview-header-columns {
    background: #2A3037; /* Old browsers */
}

.openerp .oe_hide {
    display: none !important;
}

/* STATES */
.openerp .on_logged,
.openerp .db_options_row {
    display: none;
}

/* Loading */
.loading {
    cursor: wait;
}
.openerp .loading {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 50%;
    padding: 4px 12px;
    background: #F1F1F1;
    color: #000000;
    text-align: center;
    border: 0px solid #F1F1F1;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.openerp .oe_notification {
    z-index: 1050;
    display: none;
}
.openerp .oe_notification * {
    color: white;
}

/* Login page */

.login {
    padding: 0;
    margin: 0;
    font-family: Roboto, DroidSans, Arial, sans-serif;
    background: url("/web/static/src/img/pattern.png") repeat;
    color: #f07701;
    font-size: 6px;
    height: 100%;
}

.login ul, ol {
    padding: 0;
    margin: 0;
}

.login li {
    list-style-type: none;
    padding-bottom: 4px;
    font-size: 14px;

}

.login a {
    color: #eee;
    text-decoration: none;
}

.login button {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding: 6px 16px;
    font-size: 13px;
    font-family: Roboto, DroidSans, Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    background: rgba(210, 92, 37, 0.65);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.login input, .login select {
    width: 252px;
    font-size: 14px;
    font-family: Roboto, DroidSans, Arial, sans-serif;
    border: 1px solid #999999;
    background: whitesmoke;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.login input {
    margin-bottom: 9px;
    padding: 5px 6px;
}

.login select {
    padding: 1px;
}

.login .dbpane {
    position: fixed;
    top: 0;
    right: 8px;
    padding: 5px 10px;
    color: #eee;
    border: solid 1px #fd5f60;
    background: #1e1e1e;
    background: rgba(30,30,30,0.94);
    border-radius: 0 0 8px 8px;
}

.login .bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 0 1px 1px #999999;
    background: rgba(210, 92, 37, 0.65);
}

.login .pane {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px -166px;
    border: solid 1px #333333;
    background: rgba(39, 21, 6, 0.73);
    padding: 22px 32px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

.login .pane h2 {
    margin-top: 0;
    font-size: 18px;
}

.login .logo {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#left_logo {
    top: 100px;
    left: 275px;
}

#right_logo {
    top: 103px;
    right: 270px;
}

.login .footer {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    text-align: center;
}

.login .footer a {
    font-size: 13px;
    margin: 0 8px;
}

.login .footer a:hover {
    text-decoration: underline;
}

.login .openerp {
    font-weight: bold;
    font-family: serif;
    font-size: 16px;
}

.openerp .login {
    text-align: center;
}

.openerp .login .login_error_message {
    display: none;
    background-color: #0000FF;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    color: #eee;
    font-size: 14px;
    padding: 14px 18px;
    margin-top: 15px;
    text-align: center;
}

.openerp .login.login_invalid .login_error_message {
    display: inline-block;
}



/* Database */
.login .oe-database-manager {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #2A3037;
}
.login.database_block .bottom,
.login.database_block .login_error_message,
.login.database_block .pane {
    display: none;
}
.login.database_block .oe-database-manager {
    display: block;
}

.login .database {
    float: left;
    width: 202px;
    height: 100%;
    background: #2A3037;
}
.login .oe_db_options {
    margin-left: 202px;
    color: black;
    padding-top: 20px;
}

.login .database ul {
    margin-top: 65px;
}

ul.db_options li {
    padding: 5px 0 10px 5px;
    background: #fd5f60; /* Old browsers */
    border: 1px solid #A7ACB3;
    /* overriding jquery ui */
    border-radius: 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 195px;
    font-size: 12px;
}

.db_option_table {
    border: 0px solid #fffffc;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    color: #fffffc;
    background: #4D5967;
}

table.db_option_table input.required {
    background-color: #E1E1F7 !important;
}

.db_option_table label {
    display: block;
    text-align: right;
}

.db_option_table input[type="text"],
.db_option_table input[type="password"],
.db_option_table input[type="file"],
.db_option_table select {
    width: 300px;
}

.option_string {
    font-weight: bold;
    color: #fd5f60;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: large;
    background-color: #2A3037;
}

label.error {
    float: none;
    color: orange;
    padding-left: .5em;
    vertical-align: top;
}

/* Main - outer border */
.openerp .main_table {
    width: 100%;
    height: 100%;
    background: #C7C0BE;
}
.openerp .oe-application {
    height: 100%;
}
.openerp .oe-application-container {
    width: 100%;
    height: 100%;
}

/* IE Hack - for IE < 9
 * Avoids footer to be placed statically at 100% cutting the middle of the views
 * */
.openerp .oe-application-container {
    height: auto\9;
    min-height: 100%\9;
}

/* Menu */
/* Upper Menu */
.openerp .menu {
    height: 24px;
    background: #C7C0BE;
    float: left;
    position: fixed;
    margin-top: 0px;
    margin-left: 200px;
    z-index: 999;
}
.openerp .menu td {
    text-align: center;
    padding:0;
}
.fixedmenu {
    position:fixed;
    top:0;
    z-index: 999;
}
/* Menu Buttons */
.openerp .menu a {
    display:block;
    min-width: 60px;
    height: 8px;
    margin: 0px 2px;
    padding: 0px 2px 13px 8px;
    background: #C7C0BE;
    border: 0px solid #4D5967;
    border-radius: 4px;
    box-shadow: 0 1px 2px #A7ACB3, 0 1px 1px #F1F1F1 inset;
    color: #4D5967;
    text-shadow: #F1F1F1 0 1px 0;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    font-size: 80%;
    white-space: nowrap;
}

.openerp .menu a:hover,
.openerp .menu a:focus,
.openerp .menu a.active {
    background: none;
    color: #7C7BAD;
    font-weight: bold;
    box-shadow: 0 1px 2px #F1F1F1, 0 1px 1px #A7ACB3 inset;
}
/* Secondary Menu */
.openerp .secondary_menu .oe_toggle_secondary_menu {
    position: absolute;
    cursor: pointer;
    border-left: 0px solid #7C7BAD;
    border-bottom: 0px solid #7C7BAD;
    width: 21px;
    height: 21px;
    z-index: 10;
    background: transparent;
    color: #7C7BAD;/*trigger arrow*/
    text-shadow: 0 0px 0 #7C7BAD;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    right: 0;
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu {
    position: static;
    border-left: none;
    border-bottom: 0px solid #7C7BAD;
    width: 21px;
    height: 21px;
    background: transparent;
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu span.oe_menu_fold {
    display: none;
}
.openerp .secondary_menu.oe_unfolded .oe_toggle_secondary_menu span.oe_menu_unfold {
    display: none;
}
.openerp .secondary_menu {
    width: 200px;
    min-width: 200px;
    border-right: 0px solid #7C7BAD;
    border-bottom: 0px solid #7C7BAD;
    background: none;
    vertical-align: top;
    height: 100%;
    display: block;
    position: relative;
    font-size:85%;
}

.openerp .secondary_menu img,
.openerp .menu img {
    position:relative;
    top: 4px;
    height: 16px;
    width: 16px;
}

.openerp .secondary_menu.oe_folded {
    width: 20px;
    min-width: 20px;
    position: static;
}
.openerp .secondary_menu.oe_folded .oe_secondary_menu.active {
    position: fixed;
    margin-left: 200px;
    margin-top: 20px;
    z-index: 999;
    border: 0px solid #7C7BAD;
    border-color: #7C7BAD;
    border-radius: 4px;
    min-width: 200px;
}
.fixedsecondary {
    position:fixed;
    top: 20px;
    z-index: 999;
}
.openerp .secondary_menu a {
    display: block;
    padding: 0 5px 2px 5px;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
    color: #2A3037;
    text-shadow: 0 0px 0 #fffffa;
}
.openerp .oe_secondary_submenu {
    background: #C7C0BE;
}
.openerp .secondary_menu a.oe_secondary_menu_item {
    background: #C7C0BE;
    color: #7C7BAD;
    text-shadow: 0 0px 0 #7C7BAD;

}
.openerp a.oe_secondary_submenu_item {
    padding: 0 5px 2px 10px;
}
.openerp a.oe_secondary_submenu_item,
.openerp a.oe_secondary_menu_item {
    overflow: hidden;
    text-overflow: ellipsis;
}
.openerp a.oe_secondary_submenu_item:hover,
.openerp a.oe_secondary_submenu_item.leaf.active {
    display: block;
    background: none; /* Old browsers */
    box-shadow: 0 1px 2px #F1F1F1, 0 1px 1px #A7ACB3 inset;
    padding: 0 5px 2px 10px;
    line-height: 20px;
    color: #7C7BAD;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #7C7BAD 0 0px 0;
}
.openerp a.oe_secondary_submenu_item.submenu.opened span:before {
    content: "\25be";
}
.openerp a.oe_secondary_submenu_item.submenu span:before {
    content: "\25b8";
}


/* Header */
.openerp .header {
    height: 31px;
    background: transparent;
    color: #2A3037;
    letter-spacing: 0.5px;
    text-shadow: 0 0px 0 #2A3037;
    font-weight: bold;
}
.openerp .company_logo_link {
    display: block;
    float: left;
    height: 55px;
    width: 200px;
    border: 1px transparent;
    background: transparent;
}
.openerp .company_logo {
    margin-top: 0px;
    margin-left: 0px;
    display: block;
    background: url(/web/static/src/img/logo.png);
    width:auto;
    max-width: 200px;
    height:60px;
}
/* Company name header */
.openerp .header_title {
    float: left;
    font-size: 80%;
    margin: 0;
    padding: 0px 0px;
    text-shadow: 0 0px 0 #2A3037;
    font-weight:bold;
    line-height:14px;
}
/* User name header */
.openerp .header_title small {
    color: #2A3037;
    font-size: 80%;
    font-weight: normal;
}
.openerp .header_corner {
    float: right;
}
.openerp .header_corner .block {
    float: left;
    height: 16px;
    line-height: 14px;
    border-left: 0px solid #7C7BAD;
}
.openerp .header_corner .block a {
    display: block;
    color: #7C7BAD;
    text-decoration: none;
    padding: 0 10px;
}
.openerp .header_corner .block a:hover {
    background: none;
    color: #7C7BAD;
    font-weight: bold;
    box-shadow: 0 1px 2px #F1F1F1, 0 1px 1px #A7ACB3 inset;
}
.openerp .header_corner ul.block {
    list-style: none;
    height: 16px;
    margin: 0;
    padding: 0 0 0 2px;
    line-height: 14px;
}
.openerp .header_corner ul.block li {
    float: left;
}
.openerp .header_corner ul.block li a {
    padding: 0 3px;
    position: relative;
    line-height: 0px;
}
.openerp .header_corner ul.block li a img {
    vertical-align: middle;
}
.openerp .header_corner ul.block li a small {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 1px 4px 2px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 7px;
    line-height: 1em;
    font-weight: bold;
}

.openerp .logout {
    font-size:80%;
}


/* Footer */
.openerp div.oe_footer {
    background: none repeat scroll 0 0 , #2A3037;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    box-shadow: inset 0 3px 5px #2A3037;
}
.openerp div.oe_footer p.oe_footer_powered {
    left: 50%;
    margin: 0;
    padding: 0 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}
.openerp div.oe_footer p.oe_footer_powered a {
    text-decoration: none;
    color: #fd5f60;
}


/* Main Application */
.openerp .oe-main-content {
    padding: 0;
    height: 100%;
}

.openerp h2.oe_view_title {
    font-size: 110%;
    font-weight: normal;
    margin: 0 0;
    margin-left: 10px;
    color: #2A3037;
    text-shadow: #2A3037 0 1px 0;
}

.openerp oe_view_title > a {
    margin-left: 10px;
}

.openerp div[id^="notebook"] .oe_view_title {
    font-size:85%;
    padding-bottom:4px;
}

/* View Manager */
.openerp .oe_vm_switch {
    margin-top: 3px;
    float: left;
}
.openerp .oe-view-manager-header .oe_view_title {
    font-size:150%;
    padding:2px 0 0 0;
}

/* SearchView */
.openerp .oe_searchview_field > div {
    position: relative;
    white-space: nowrap;
}
.openerp .oe_searchview_field .oe_input_icon {
    top: auto;
    bottom: 3px;
}

.openerp .filter_label, .openerp .filter_icon {
    background: #fffffc;
    box-shadow: 0 1px 1px #C7C0BE, 0 1px 1px #F1F1F1 inset;
}
.openerp .filter_label:hover, .openerp .filter_icon:hover {
    background: #C7C0BE;
    box-shadow: 0 1px 2px #F1F1F1, 0 1px 1px #C7C0BE inset;
    color: #7C7BAD;
}
.openerp .filter_label:active, .openerp .filter_icon:active {
    background: none;
    box-shadow: 0 1px 2px #F1F1F1, 0 1px 1px #C7C0BE inset;
    color: #7C7BAD;
}

.openerp .filter_label.enabled, .openerp .filter_icon.enabled {
    background: #C7C0BE;
    filter: none;
    box-shadow: 0 1px 2px #F1F1F1, 0 1px 1px #4D5967 inset;
    color: #fffffc;
    font-weight: bold;
    text-shadow: #fffffc 0 0px 0;
}
.openerp .filter_icon {
    height: 24px;
    padding: 1px 2px 0 2px;
    margin: 0;
    vertical-align: bottom;
}
.openerp .filter_label {
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: #2A3037 0 0px 0;
    color: #2A3037;
    white-space: nowrap;
    min-height: 40px;
    min-width: 75px;
    padding: 2px 4px;
    margin: 0;
}
.openerp .filter_label_group {
    padding-right: 0.4em;
    white-space: nowrap;
}

.openerp .filter_label_group button {
    border-radius: 0;
    border-right: none;
    border-left: 0px solid #C7C0BE;
}
.openerp .filter_label_group button {
    border-radius: 0;
    border-right: none;
    border-left: 0px solid #C7C0BE;
}
.openerp .filter_label_group button:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: none;
}
.openerp .filter_label_group button:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 0px solid #C7C0BE;
}
.openerp .filter_label_group button.filter_icon img {
    padding: 1px 8px 0 8px;
}
.openerp .filter_label_group button.filter_icon:first-child {
    border-left: solid 0px #C7C0BE;
    margin-left: -7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.openerp .searchview_group_string {
    display: block;
    color: #7C7BAD;
    font-weight: normal;
    padding: 1px 0 1px 10px;
    text-decoration: none;
    text-shadow: #7C7BAD 0 1px 0;
    
}
.openerp .searchview_group_string:hover {
    color: #7C7BAD;
    text-decoration: underline;
}
.openerp .searchview_group.folded .searchview_group_string {
    background: url("/web/static/src/img/ui/group-folded.png") no-repeat scroll 4px 50%;
}
.openerp .searchview_group.folded .searchview_group_content {
    display: none;
}
.openerp .searchview_group.expanded .searchview_group_string {
    background: url("/web/static/src/img/ui/group-expanded.png") no-repeat scroll 0 50%;
}
.openerp .searchview_group.expanded .searchview_group_content {
    display: block;
    padding-bottom:3px;
}

.openerp .searchview_group_content .oe_label, .openerp .searchview_group_content .oe_label_help {
    font-weight: bold;
    color: #2A3037;
}

.openerp .oe-searchview-render-line .oe_label, .openerp .oe-searchview-render-line .oe_label_help {
    font-weight: bold;
    font-size: 80%;
    white-space: nowrap;
}

.openerp .searchview_extended_group {
    padding: 3px;
    margin: 2px;
}

.openerp .searchview_extended_group .oe_adv_filters_and {
    border-bottom: 0px solid #4D5967;
    text-align: center;
    margin-top: -10px;
}
.openerp .searchview_extended_group .oe_adv_filters_and span {
    background: #FFFFFC;
    position: relative;
    top: 0.5em;
    padding: 0 1em 0 1em;
    color: #2A3037;
}

.openerp .searchview_extended_group.last_group .oe_adv_filters_and {
    display: none;
}

.openerp .oe_search-view-buttons {
    padding: 2px 0 10px 0;
    vertical-align:middle;
}
.openerp .oe_search-view-filters-management {
    float: right;
}
.openerp .oe_search-view-filters-management, .openerp .oe_search-view-custom-filter-btn {
    float:right;
}

.openerp .searchview_extended_add_proposition span {
    font-size: 0.9em;
    background: url(/web/static/src/img/icons/gtk-add.png) repeat-y;
    padding-left: 18px;
}

.openerp .searchview_extended_delete_group {
    float:right;
    display: none;
}

.openerp .searchview_extended_delete_prop {
    text-decoration: none;
}

.openerp .searchview_extended_delete_group span,
.openerp .searchview_extended_delete_prop span {
    font-size: 0.9em;
    background: url(/web/static/src/img/icons/gtk-close.png) repeat-y;
    padding-left: 18px;
}

/* List */
.openerp table.oe-listview-content {
    clear: right;
    width: 100%;
    border-spacing: 0;
    border: 1px solid silver;
}

/* head of table on form */
.openerp .oe-listview thead table {
    width: 100%;
    border:  none;
    color: #2A3037;
    background: #f1f1f1;
}
.openerp .oe-listview tr.odd {
    background-color: #F1F1F1;
}
.openerp .oe-listview tr.even {
    background-color: #FFFFFC;
}
.openerp .oe-listview tr.odd.selected {
    background-color: #FFFFFC;
}
.openerp .oe-listview tr.even.selected {
    background-color: #FFFFFC;
}
.openerp .oe-listview tr.selected:hover {
    background-color: #E1E1F7;
}
.openerp .oe-listview tbody tr:hover {
    background-color: #E1E1F7;
}
.openerp .oe-listview tbody tr:hover {
    background-color: #E1E1F7;
}
.openerp .oe-listview thead table tr,
.openerp .oe-listview thead table tr:hover {
    background: #F1F1F1;
}

/*List view content font - color commented to let the app choose*/
.openerp .oe-listview > table > tbody > tr > td,
.openerp .oe-listview th {
    vertical-align: middle;
    text-align: left;
    padding: 1px 2px;
    /*color: #2A3037;*/
}

.openerp .oe-record-delete button,
.openerp .oe-record-edit-link button,
.openerp button.oe-edit-row-save {
    border: none;
    height: 12px;
    width: 12px;
    background: url("/web/static/src/img/iconset-b-remove.png") no-repeat scroll center center transparent;
    cursor: pointer;
}
.openerp .oe-record-edit-link button {
    background: url("/web/static/src/img/pencil.gif") no-repeat scroll center center transparent;
}
.openerp .oe-record-delete button:hover,
.openerp button.oe-edit-row-save:hover {
    background: url("/web/static/src/img/recycle_bin_full.png") no-repeat scroll center center transparent;
}

.openerp button.oe-edit-row-save {
    background-image: url('/web/static/src/img/icons/save-document.png');
}

/* Could use :not selectors if they were supported by MSIE8... */
.openerp .oe-listview > table > tbody > tr > td {
    border-left: 0px solid #E1E1F7; /*currently commenting to test with no vertical lines in list view*/
}
.openerp .oe-listview tbody td:first-child,
.openerp .oe-listview tbody td.oe-button,
.openerp .oe-listview tbody td.oe-button,
.openerp .oe-listview tbody th.oe-record-selector,
.openerp .oe-listview tbody td.oe-record-delete {
    border-left: none;
}

.openerp .oe-listview td.oe-record-delete {
    text-align: right;
}
.openerp .oe-listview th.oe-sortable {
    cursor: pointer;
    font-size: 75%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-left: 3px;
    color: #ffffff;
/*    text-align: center;*/
}
.openerp .oe-listview th.oe-sortable .ui-icon {
    margin: -4px 0 0;
    display: inline;
    display: inline-block;
    vertical-align: middle;
}

.openerp .oe-listview > table > tbody > tr > td {
/*    border-bottom: 0px solid #4D5967;*/
}


.openerp .oe-listview td.oe-actions {
    border-bottom:none;
    width: 90%;
}

/*.openerp .oe-listview .oe-record-selector, .openerp .oe-listview .oe-record-edit-link {
     border-bottom: 0px solid #4D5967;
}*/

.openerp .oe-listview .oe-record-selector, .openerp .oe-listview .oe-record-edit-link {
}

.openerp .oe-listview .oe-record-edit-link {
    cursor: pointer;
}

.openerp .oe-listview .oe-field-cell {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 80%;
}
.openerp .oe-listview .oe-field-cell progress {
    width: 100%;
}
.openerp .oe-listview .oe-field-cell.oe-button button,
.openerp .oe-listview .oe_form_button button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: 16px;
    box-shadow: none;
    box-shadow: none;
}
.openerp .oe-listview .oe-field-cell button:active {
    opacity: 0.5;
}
.openerp .oe-listview .oe-field-cell button img {
    cursor: pointer;
}
.openerp .oe-listview .oe-field-cell button img:hover {
    opacity: 0.75;
}

.openerp .oe-listview .oe-field-cell .oe-listview-button-disabled img {
    opacity: 0.5;
}

.openerp .oe-listview th.oe-actions {
    text-align: left;
    white-space: nowrap;
}
.openerp .oe-listview th.oe-list-pager {
    text-align: left;
    white-space: nowrap;
}
.openerp .oe-list-pager .oe-pager-state {
    cursor: pointer;
    font-size: 80%;
    color: #2A3037;
}

.openerp .oe_button.oe_button_pager,
.openerp .oe-list-pager > span,
.openerp .oe_form_pager > span {
   line-height: 19px;
   height: 19px;
   cursor: pointer;
   color: #2A3037;
   font-weight: bold;
   vertical-align: middle;
}
.openerp .oe_button.oe_button_pager,
.openerp .oe_button.oe_button_pager:disabled {
    padding: 0 3px 0 3px;
    margin: 0;
    height: 19px;
    margin-top: 5px;
}
.openerp .oe-listview .oe-group-name {
    padding-right: 1em;
}
.openerp .oe-listview .oe-group-name,
.openerp .oe-listview .oe-group-pagination {
    white-space: nowrap;
}

.openerp .oe-listview tfoot td {
    padding: 3px 3px 0;
}
.openerp .oe-listview .oe-list-footer {
    text-align: center;
    white-space: nowrap;
    color: #7C7BAD;
    font-size: 85%;
}
.openerp .oe-listview .oe-list-footer span {
    margin: 0 1em;
}
.openerp .oe-listview .oe-list-footer progress {
    vertical-align:-10% !important;
    width: 100%;
}

/** list rounded corners

    rounded corners are a pain on tables: need to round not only table, but
    also on the first and last children of the first and last row
 */
.openerp .oe-listview table.oe-listview-content {
    border-radius: 6px;
    border-color: #4D5967;
}
.openerp .oe-listview table.oe-listview-content thead tr:first-child th:first-child {
    border-top-left-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content thead tr:first-child th:last-child {
    border-top-right-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child th:first-child,
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child td:first-child,
.openerp .oe-listview table.oe-listview-content tbody:last-child tr:last-child th:first-child {
    border-bottom-left-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child th:last-child,
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child td:last-child,
.openerp .oe-listview table.oe-listview-content tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

.openerp .oe_form_notebook {
    padding: 0px;
    background: transparent;
    border-radius: 0px;
    box-shadow: 0 0px 0px white inset;
    border-width: 0;
}
.openerp .oe_form_notebook .ui-tabs-panel {
    padding: 1px;
    border-top-right-radius: 0px;
    
}
.openerp .oe_form_notebook ul.ui-tabs-nav {
    padding-left: 0;
    background: none;
    border-width: 0;
    border-radius: 0;
    height: 20px;
    line-height: 20px;
    font-size: 95%;
    color: #7C7BAD !important;
    text-shadow: #7C7BAD 0 0px 0;
    font-weight: normal;
}
.openerp .oe_form_notebook ul.ui-tabs-nav li {
    font-weight: normal;
    padding: 0px 10px 0px; 
}
.openerp .oe_form_notebook .ui-tabs-panel {
    background: #f1f1f1;
    border-width: 0px;
}
.openerp .oe_form_notebook .ui-tabs-selected {
    background: #fffffc;
    box-shadow: 0 0px 0px whitesmoke inset;
    border-width: 0px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Unedit Form */
.openerp .oe-number,
.openerp .field_char,
.openerp .field_date,
.openerp .field_float,
.openerp .field_selection,
.openerp a.oe_form_uri {
    vertical-align: middle;
    padding-top: 3px;
    font-size: 120%;
    color: #2A3037;
    font-weight: bold;
}
.openerp a.oe_form_uri {
    color: #7C7BAD;
    line-height: 12px;
}



/* Form */
.openerp .oe_form_button_save_dirty {
    display: none;
}
.openerp .oe_form_dirty > .oe_form_header > .oe_form_buttons > .oe_form_button_save {
    color: #2A3037;
    background: #f1f1f1;
    box-shadow: none;
    font-weight: bold;
}
.oe_form_buttons {
    position: relative;
    top: 5px;
}

.oe_form_header {
    overflow: auto;
    padding: 3px 0 3px 2px;
    margin: 3px 0 3px 2px;
}
.openerp .oe_form_frame_cell input[type="checkbox"] {
    margin-top: 3px;
    vertical-align: middle;
}
.openerp .oe_form_frame_cell .input[type="text"] {
    padding-bottom: 1px;
}

.openerp table.oe_frame td {
    color: #2A3037;
}
.openerp td.oe_form_frame_cell {
    padding: 2px;
    position: relative;
}
.openerp .oe_frame.oe_forms {
    clear: both;
}
.openerp table.oe_frame {
    color: #2A3037;
}
.openerp fieldset.oe_group_box {
    border: 0px solid #fffffc;
    border-radius: 4px;
    background: #f1f1f1;
    padding: 4px;
}
.openerp fieldset.oe_group_box legend {
    font-weight: bold;
}
.openerp td.oe_form_frame_cell {
    padding: 2px;
    position: relative;
}
.openerp td.oe_form_field_translatable,
.openerp td.oe_form_field_many2one,
.openerp td.oe_form_field_date,
.openerp td.oe_form_field_datetime {
    white-space: nowrap;
}
.openerp td.oe_form_field_boolean {
    padding-top: 4px;
}
.openerp td.oe_form_frame_cell.oe_form_group {
    padding: 0;
}
.openerp .required.error {
    border: 0px solid #4D5967;
}
.openerp .oe_form_buttons, .openerp .oe_list_buttons {
    float: left;
}
.openerp .oe_form_pager, .openerp .oe_list_pager {
    float: left;
    font-size: 80%;
    color: #2A3037;
    font-weight: bold;
}

.openerp .oe_form_pager {
    margin-right: 3px;
}


.openerp label.oe_label_help, .openerp label.oe_label {
    font-size: 80%;
}
.openerp .oe_form_paragraph,
.openerp .oe_form_field_statusbar,
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms textarea {
    font-size: 120%;
    font-weight: normal;
    padding-top: 2px;
}
.openerp .oe_forms .oe_button {
    font-size: 120%;
    font-weight: normal;
    padding-top: 0px;
}

.openerp label.oe_label_help, .openerp label.oe_label {
    display: block;
    color: #2A3037;
    font-weight: normal;
    padding-top: 3px;
}
.openerp label.oe_label_help {
    cursor: help;
}
.openerp .oe_form_frame_cell  .oe_label, .openerp .oe_form_frame_cell  .oe_label_help {
    font-weight: normal;
}
.openerp #tiptip_content {
    font-size: 12px;
}
.openerp .oe_tooltip_string {
    color: #7C7BAD;
    font-weight: bold;
    font-size: 13px;
}
.openerp .oe_tooltip_help {
    white-space: pre-wrap;
}
.openerp .oe_tooltip_technical {
    padding: 0 0 4px 0;
    margin: 5px 0 0 15px;
    list-style: circle;
}
.openerp .oe_tooltip_technical_title {
    font-weight: bold;
}

.openerp .oe_forms label.oe_label, .openerp .oe_forms label.oe_label_help {
    margin: 3px 0 0 3px;
    white-space: nowrap;
    font-weight: normal;
    color: #4D5967;
}
.openerp .oe_forms .searchview_group_content label.oe_label, .openerp .searchview_group_content .oe_forms label.oe_label_help { /* making a distinction between labels in search view and other labels */
    margin: 3px 0 0 3px;
}

.openerp label.oe_label_help span {
    font-size: 80%;
    color: #fd5f60;
    vertical-align:top;
    position: relative;
    top: -4px;
    padding: 0 2px;
}
.openerp .oe_align_left {
    text-align: left;
}
.openerp .oe_align_right {
    text-align: right;
}
.openerp .oe_align_center {
    text-align: center;
}
.openerp .oe_forms .oe_form_paragraph {
    margin: 3px 0 0 0;
    white-space: normal;
}

.openerp .oe_forms .oe_form_paragraph.oe_multilines {
    white-space: pre;
}

.openerp .oe_form_field_one2many .oe-actions h3.oe_view_title,
.openerp .oe_form_field_one2many_list .oe-actions h3.oe_view_title{
    display: inline;
    margin: 0 0.5em 0 0;
    font-size: 12px
}
.openerp .oe_form_field_one2many .oe-listview .oe-edit-row-save,
.openerp .oe_form_field_one2many_list .oe-listview .oe-edit-row-save {
    background-image: url("/web/static/src/img/iconset-b-remove.png");
}
.openerp .oe_form_field_one2many .oe-listview .oe-edit-row-save:hover,
.openerp .oe_form_field_one2many_list .oe-listview .oe-edit-row-save:hover {
    background-image: url("/web/static/src/img/recycle_bin_full.png");
}

.openerp .oe_forms .oe-listview th.oe-sortable .ui-icon,
.openerp .oe_forms .oe-listview th.oe-sortable .ui-icon {
    height: 100%;
    margin-top: -9px;
}

.openerp table.oe_frame .oe-listview-content td {
    color: inherit;
}

/* Uneditable Form View */
.openerp .oe_form_readonly {

}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text,
.openerp .oe_form_readonly .field_char,
.openerp .oe_form_readonly .field_int,
.openerp .oe_form_readonly .field_float,
.openerp .oe_form_readonly .field_email,
.openerp .oe_form_readonly .field_date,
.openerp .oe_form_readonly .field_selection,
.openerp .oe_forms_readonly .oe_form_field_many2one {
    padding: 3px 2px 2px 2px;
    background-color: #f1f1f1;
    min-height: 17px;
    
}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text {
    height: auto;
}
.openerp .oe_form_readonly .field_datetime {
    padding: 1px 2px 2px 2px;
    background-color: #f1f1f1;
    height:19px;
}
.openerp .oe_form_readonly .oe_form_field_many2one div {
/*    background-color:white;*/
    height:18px;
    margin-bottom:1px;
    padding: 0px 2px 5px 2px;
}

.openerp .oe_form_readonly .oe_form_field_email div  {
    background-color: #f1f1f1;
    padding: 0px 2px 3px 2px;
}


.openerp .oe_form_readonly .oe_form_field_text div.field_text,
.openerp .oe_form_readonly .oe_form_field_text_html div.field_text_html {
    white-space: pre-wrap;
}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text  {
    min-height:100px;
}
/* Inputs */
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 2px;
    border: 0px solid #E1E1F7;
    border-radius: 3px;
    background: #E1E1F7;
    min-width: 90px;
    color: #2A3037;
    font-weight: bold;
}
.openerp .oe_forms select {
    font-size: 100%;
    padding: 0 4px;
    background: #E1E1F7;
    min-height: 24px;
    
}

.openerp .oe_forms input.field_many2one,
.openerp .oe_forms input.field_binary,
.openerp .oe_forms input.field_binary,
.openerp .oe_forms input.field_email,
.openerp .oe_forms input.field_url  {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.openerp .oe_button.oe_field_button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right:-1px;
    height: 22px;
}

.openerp .oe_form_field_email button img,
.openerp .oe_form_field_url button img {
    vertical-align: top;
}
/* vertically recentering filter management select tag */
.openerp select.oe_search-view-filters-management { 
    margin-top:2px;
}

.openerp .oe_forms select{
    padding-top: 2px;
}
.openerp .oe_forms input[readonly],
.openerp .oe_forms select[readonly],
.openerp .oe_forms textarea[readonly],
.openerp .oe_forms input[disabled],
.openerp .oe_forms select[disabled],
.openerp .oe_forms textarea[disabled]{
    background: #f1f1f1 !important;
    color: #4D5967 !important;
}
.openerp .oe_forms textarea {
    resize:vertical;
}
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms .oe_button {
    height: 22px;
}

.openerp .oe_forms input.field_datetime {
    min-width: 11em;
}
.openerp .oe_forms .oe_form_button .oe_button {
    color: #ffffff;
    white-space: nowrap;
    min-width: 100%;
    width: 100%;
}
@-moz-document url-prefix() {
    /* Strange firefox behaviour on width: 100% + white-space: nowrap */
    .openerp .oe_forms .oe_form_button .oe_button {
        width: auto;
    }
}
/* IE Hack - for IE < 9
 * Avoids buttons overflow
 * */
.openerp .oe_forms .oe_form_button .oe_button {
    min-width: auto\9;
}
.openerp .oe_forms .button {
    height: 22px;
}
.openerp .oe_forms .oe_button span {
    position: relative;
    vertical-align: top;
}
.openerp .oe_input_icon {
    cursor: pointer;
    margin: 3px 0 0 -21px;
    vertical-align: top;
}
.openerp .oe_datepicker_container {
    display: none;
}
.openerp .oe_datepicker_root {
    display: inline-block;
}
.openerp .oe_form_frame_cell .oe_datepicker_root {
    width: 100%;
}
.openerp .oe_input_icon_disabled {
    position: absolute;
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50);
    right: 5px;
    top: 3px;
}
.openerp .oe_trad_field.touched {
    border: 1px solid green !important;
}

/* http://www.quirksmode.org/dom/inputfile.html
 * http://stackoverflow.com/questions/2855589/replace-input-type-file-by-an-image
 */
.openerp .oe-binary-file-set {
    overflow: hidden;
    position: relative;
}
.openerp input.oe-binary-file {
    z-index: 0;
    line-height: 0;
    font-size: 12px;
    position: absolute;
    /* Should be adjusted for all browsers */
    top: 1px;
    right: 10px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
}

.openerp .oe-binary-image {
    width: auto;
    height: 96px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    background: #fffffc;
    border-color: transparent !important;
}

/* Widgets */
.openerp .separator {
    border: 0px solid #7C7BAD;
    color: #7C7BAD;
}
.openerp .separator.horizontal {
    font-weight: bold;
    font-style: normal;
    border-bottom-width: 1px;
    margin: 3px 4px 20px 1px;
    height: 15px;
    font-size: 95%;
    text-align: center;
    text-transform:uppercase;
}
.openerp .separator.horizontal:empty {
    height: 5px;
}
.openerp .oe_form_frame_cell.oe_form_separator_vertical {
    border-left: 0px solid #A7ACB3;
}
/*MANDATORY FIELDS*/
.openerp td.required input,
.openerp td.required textarea {
    background-color: #7C7BAD !important;
    color: #fffffc !important;
}
.openerp td.required select,
.openerp td.required table.oe-listview-content {
    background-color: #f1f1f1 !important;
    color: #4D5967 !important;
}
.openerp td.invalid input, .openerp td.invalid select, .openerp td.invalid textarea {
    background-color: #CC5146 !important;
    border: 0px solid #CC5146 !important;
}
.openerp td.invalid table.oe-listview-content {
    border: 0px solid #CC5146 !important;
}
.openerp div.oe-progressbar span {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
}

/* jQuery UI override */
.openerp .ui-widget {
    font-size: 1em;
}
.openerp .oe_form_field_progressbar .ui-progressbar {
    height: 22px;
    font-size: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #7C7BAD;
    border-radius: 3px;
    background: #7C7BAD;
    min-width: 90px;
}
.openerp .oe_list_progressbar_outer {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0px solid #7C7BAD;
    background: #7C7BAD;
    border-radius: 3px;
    font-size: 11px;
}
.openerp .oe_list_progressbar_inner {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #7C7BAD;
    background: #E1E1F7;
    height: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
}
.openerp .oe_list_progressbar_text {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.openerp tbody.ui-widget-content {
    margin-bottom: 10px;
    border-spacing: 4px;
    color: #2A3037;
}
.openerp .ui-widget-header {
    background: #C7C0BE none;
}

/* progress bars */
.openerp .ui-progressbar .ui-widget-header {
    background: #cccccc url(/web/static/lib/jquery.ui/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}

/* Right Sidebar */
.openerp .view-manager-main-table {
    margin: 0;
    width:100%;
    border-collapse:collapse;
    height:100%;
    background: #f1f1f1;
}

.openerp .view-manager-main-table tbody {
    vertical-align: top;
}

.openerp .oe-view-manager-header {
    overflow: auto;
    background: none;
    margin:6px 6px 6px 2px;
}
.openerp .oe_form_frame_cell .oe-view-manager-header { /* Trick: remove the background when element is in a formular */
    background: none;
}

.openerp .oe-view-manager-header h2 {
    float: left;
}

.openerp .oe_view_manager_menu_tips blockquote {
    display: none;
    font-size: 85%;
    margin: 0;
    background: #4D5967;
    border-bottom: 0px solid #4D5967;
    padding: 1px 10px;
    color: #ffffff;
}
.openerp .oe_view_manager_menu_tips blockquote p {
    margin: 0;
    padding: 6px 1px 4px;
}

.openerp .oe_view_manager_menu_tips blockquote div {
    text-align: right;
    margin-right:10px;
}

.openerp .oe_view_manager_menu_tips blockquote div button {
    border: none;
    background: none;
    padding: 0 4px;
    margin: 0;
    display: inline;
    text-decoration: underline;
    color: inherit;
}
.openerp .oe-view-manager-logs {
    clear: both;
    background: #4D5967;
    margin: 0.25em 0;
    font-size: 85%;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
.openerp .oe-view-manager-logs ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
}
.openerp .oe-view-manager-logs li:before {
    content: '\2192 ';
}
.openerp .oe-view-manager-logs a {
    text-decoration: none;
    color: inherit;
}
/* only display first three log items of a folded logs list */
.openerp .oe-view-manager-logs.oe-folded li:nth-child(n+4) {
    display: none;
}
/* display link to more logs if there are more logs to view and the logview is
   currently folded */
.openerp .oe-view-manager-logs a.oe-more-logs {
    display: none;
}
.openerp .oe-view-manager-logs.oe-folded.oe-has-more a.oe-more-logs {
    display: block;
}
.openerp .oe-view-manager-logs a.oe-remove-everything {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.openerp .view-manager-main-sidebar {
    width: 180px;
    padding: 0;
    margin: 0;
}

.openerp .sidebar-main-div {
    height: 100%;
    border-left: 0px solid #4D5967;
}

.openerp .sidebar-content {
    padding: 0;
    margin: 0;
    width: 180px;
    height: 100%;
    font-size: 0.9em;
}

.openerp .closed-sidebar .sidebar-content {
    width: 22px;
}

.openerp .closed-sidebar .sidebar-content {
    display: none;
}

.openerp .sidebar-main-div a {
    color: #7C7BAD;
    text-shadow: #7C7BAD 0 1px 0;
    text-decoration: none;
}

.openerp .sidebar-main-div a:hover {
    color: #7C7BAD;
    font-weight: bold;
}

.openerp .oe-sidebar-attachments-toolbar {
    margin: 4px 0 0 4px;
}
.openerp .oe-sidebar-attachments-items {
    clear: both;
    padding-top: 5px !important;
}
.openerp .oe-sidebar-attachments-items li {
    position: relative;
    padding: 0 0 3px 10px !important;
}
.openerp .oe-sidebar-attachments-items li:hover {
    background: #7C7BAD;
    font-weight: bold;
}
.openerp .oe-sidebar-attachments-link {
    display: block;
    margin-right: 15px;
    overflow: hidden;
}
.openerp .oe-sidebar-attachment-delete {
    position: absolute;
    right: 2px;
    top: 1px;
    overflow: hidden;
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 7px;
}
.openerp .oe-sidebar-attachment-delete:hover {
    background-color: #E1E1F7;
}

.openerp .view-manager-main-sidebar h2 {
    margin:0;
    font-size: 1.15em;
    color: #f1f1f1;
    text-shadow: #fffffc 0 0px 0;
    padding-left: 10px;
    padding-right: 21px;
    height: 21px;

    background: #7C7BAD;
    border: 0px solid #fd5f60;
    border-right-width: 0;
    border-left-width: 0;
}
.openerp .view-manager-main-sidebar h2 {
    border-top-width: 0;
}

.openerp .view-manager-main-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.openerp .view-manager-main-sidebar li {
    display: block;
    padding: 3px 3px 3px 10px;
}

.openerp .toggle-sidebar {
    cursor: pointer;
    border: 0px solid #A7ACB3;
    border-top-width: 0px;
    display: block;
    background: url(/web/static/src/img/toggle-a-bg.png);
    background-color: #7C7BAD;
    width: 24px;
    height: 20px;
    z-index: 10;
}
.openerp .open-sidebar .toggle-sidebar {
    margin-left: 158px;
    background-position: 21px 0;
    position: absolute;
}
.openerp .closed-sidebar .toggle-sidebar {
    border-left: none;
}
.openerp li.oe_sidebar_print {
    padding-left: 20px;
    background: 1px 3px url(/web/static/src/img/icons/gtk-print.png) no-repeat;
}

.openerp .oe_sidebar_print ul {
    padding-left:8px;
}

.openerp.kitten-mode-activated .main_table {
    background: url(http://placekitten.com/g/1500/800) repeat;
}
.openerp.kitten-mode-activated.clark-gable .main_table {
    background: url(http://amigrave.com/ClarkGable.jpg);
    background-size: 100%;
}

.openerp.kitten-mode-activated .header {
    background: url(http://placekitten.com/g/211/65) repeat;
}

.openerp.kitten-mode-activated .secondary_menu {
    background: url(http://placekitten.com/g/212/100) repeat;
}

.openerp.kitten-mode-activated .menu {
    background: #fd5f60;
}
.openerp.kitten-mode-activated .menu a {
    background: none;
}
.openerp.kitten-mode-activated .menu span {
    background: none;
}
.openerp.kitten-mode-activated .sidebar-content li a,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content h2.oe_view_title,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content a.searchview_group_string,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content label  {
    color: #2A3037;
}
.openerp.kitten-mode-activated .menu,
.openerp.kitten-mode-activated .header_corner,
.openerp.kitten-mode-activated .header_title,
.openerp.kitten-mode-activated .secondary_menu div,
.openerp.kitten-mode-activated .oe-application,
.openerp.kitten-mode-activated .oe_footer,
.openerp.kitten-mode-activated .loading,
.openerp.kitten-mode-activated .ui-dialog {
    opacity:0.8;
}
.openerp.kitten-mode-activated .header .company_logo {
    background: url(http://placekitten.com/g/180/46);
}
.openerp.kitten-mode-activated .loading {
    background: #828282;
    border-color: #828282;
}

.openerp .oe-m2o-drop-down-button {
    margin-left: -24px;
}
.openerp .oe-m2o-drop-down-button img {
    margin-bottom: -4px;
    cursor: pointer;
}
.openerp .oe-m2o input  {
    border-right: none;
    margin-right: 0px !important;
    padding-bottom: 2px !important;
}
.openerp .oe-m2o-disabled-cm {
    color: grey;
}
.openerp ul[role="listbox"] li a {
    font-size:80%;
}
.parent_top {
    vertical-align: text-top;
}

.openerp .oe-dialog-warning p {
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.openerp .dhx_mini_calendar {
    -moz-box-shadow: none;
    -khtml-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe-treeview-table {
    width: 100%;
    background-color : #f1f1f1;
    border-spacing: 0;
    
}
.openerp .oe-treeview-table tr:hover{
    color: blue;
    background-color : #E1E1F7;
}
.treeview-tr, .treeview-td {
    cursor: pointer;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}
.openerp .oe-treeview-table .oe-number {
   text-align: right !important;
}
.treeview-tr span, .treeview-td span {
    font-size: 90%;
    font-weight: normal;
    white-space: nowrap;
    display: block;
    }
.treeview-tr.oe-treeview-first {
    background: transparent url(/web/static/src/img/expand.gif) 0 50% no-repeat;
}
.oe-open .treeview-tr.oe-treeview-first {
    background-image: url(/web/static/src/img/collapse.gif);
}
.treeview-tr.oe-treeview-first span,
.treeview-td.oe-treeview-first span {
    margin-left: 16px;
}

.treeview-header {
    vertical-align: top;
    background-color : #4D5967;
    white-space: nowrap;
    text-align: left;
    padding: 4px 5px;
}

/* Shortcuts*/
/* Favourites Menu */
.oe-shortcut-toggle {
    height: 20px;
    margin-top: 0px;
    padding: 0;
    width: 20px;
    cursor: pointer;
    display: block;
    background: url(/web/static/src/img/add-shortcut.png) no-repeat center center;
    float: left;
}
.oe-shortcut-remove{
    background: url(/web/static/src/img/remove-shortcut.png) no-repeat center center;
}
.oe-shortcuts {
    position: right;
    margin: 0;
    padding: 0px 13px;
    top: 0px;
    left: 0px;
    right: 0;
    height: 17px;
    line-height: 1;
}
.oe-shortcuts ul {
    display: block;
    overflow: hidden;
    list-style: none;
    white-space: nowrap;
    padding: 0 15px;
    margin: 0;
}
.oe-shortcuts li {
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    display: inline; /*IE7 */
    color: #7C7BAD;
    text-align: center;
    border-left: 0px solid #7C7BAD;
    padding: 0 3px;
    font-size: 80%;
    font-weight: normal;
    vertical-align: top;
}

.oe-shortcuts li:hover {
    background-color: transparent;
    color: #7C7BAD;
    font-weight: bold;
}
.oe-shortcuts li:first-child {
    border-left: none;
    padding-left: 0;
}

ul.oe-arrow-list {
    padding-left: 1.1em;
    margin: 0;
    white-space: nowrap;
}
ul.oe-arrow-list li {
    display: inline-block;
    margin-left: -1em;
    vertical-align: top;
}
ul.oe-arrow-list li span {
    vertical-align: top;
    display: inline-block;
    border: 1em solid #A7ACB3;
    line-height:0em;
}
ul.oe-arrow-list .oe-arrow-list-before {
    border-left-color: transparent;
    border-right-width:0;
}
ul.oe-arrow-list .oe-arrow-list-after {
    border-color: transparent;
    border-left-color: #A7ACB3;
    border-right-width:0;
}
ul.oe-arrow-list li.oe-arrow-list-selected span {
    border-color: #B5B9FF;
}
ul.oe-arrow-list li.oe-arrow-list-selected .oe-arrow-list-before {
    border-left-color: transparent;
}
ul.oe-arrow-list li.oe-arrow-list-selected .oe-arrow-list-after {
    border-color: transparent;
    border-left-color: #B5B9FF;
}
.openerp ul.oe-arrow-list li:first-child span:first-child{
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.openerp ul.oe-arrow-list li:last-child span:last-child{
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
.openerp .oe_view_editor {
    width:100%;
    border-collapse : collapse;
    margin-left: -12px;
    
    width: 100%;
    background-color: #4D5967;
    border-spacing: 0;
}
.openerp .oe_view_editor td{
    text-align: center;
    white-space: nowrap;
    border: 1px solid #A7ACB3;
    
    cursor: pointer;
    font-size: 90%;
}
.openerp .oe_view_editor_field td{
    border: 0px !important;
}

.openerp .oe_view_editor tr:hover {
    background-color: #fd5f60;
}


/* Dialog traceback cases */
.openerp .oe_error_detail{
    display: block;
}
.openerp .oe_error_send{
    display:block;
}
.openerp .oe_fielddiv{
    display:inline-block;
    width:100%;
}
.openerp .oe_fielddiv input[type=text],textarea{
    width:100%;
}
/* for Alignment center */
.openerp .oe_centeralign{
    text-align:center;
}

.openerp .oe_applications_tiles {
  color: #2A3037;
  text-shadow: #2A3037 0 0px 0;
  margin: 0 20px;
}

.openerp .oe_vm_switch_reload,
.openerp .oe_vm_switch_form,
.openerp .oe_vm_switch_page,
.openerp .oe_vm_switch_tree,
.openerp .oe_vm_switch_list,
.openerp .oe_vm_switch_graph,
.openerp .oe_vm_switch_gantt,
.openerp .oe_vm_switch_calendar,
.openerp .oe_vm_switch_kanban,
.openerp .oe_vm_switch_diagram {
    background: url("/web/static/src/img/views-icons-a.png") repeat-x scroll left top transparent;
    overflow: hidden;
    width: 22px;
    height: 21px;
    border: none;
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_reload {
    margin-left: 10px;
    background: url("/web/static/src/img/reload-icon.png") repeat-x scroll left top transparent;
}

.openerp .oe_vm_switch_reload:active,
.openerp .oe_vm_switch_reload:hover,
.openerp .oe_vm_switch_reload:focus {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_reload span,
.openerp .oe_vm_switch_form span,
.openerp .oe_vm_switch_page span,
.openerp .oe_vm_switch_tree span,
.openerp .oe_vm_switch_list span,
.openerp .oe_vm_switch_graph span,
.openerp .oe_vm_switch_gantt span,
.openerp .oe_vm_switch_calendar span,
.openerp .oe_vm_switch_kanban span,
.openerp .oe_vm_switch_diagram span {
    display: none;
}

.openerp .oe_vm_switch_list {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_list:active,
.openerp .oe_vm_switch_list:hover,
.openerp .oe_vm_switch_list:focus,
.openerp .oe_vm_switch_list[disabled="disabled"] {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_tree {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_tree:active,
.openerp .oe_vm_switch_tree:hover,
.openerp .oe_vm_switch_tree:focus,
.openerp .oe_vm_switch_tree[disabled="disabled"] {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_form {
    background-position: -22px 0px;
}
.openerp .oe_vm_switch_form:active,
.openerp .oe_vm_switch_form:hover,
.openerp .oe_vm_switch_form:focus,
.openerp .oe_vm_switch_form[disabled="disabled"] {
    background-position: -22px -21px;
}

.openerp .oe_vm_switch_page {
    background-position: -22px 0px;
}
.openerp .oe_vm_switch_page:active,
.openerp .oe_vm_switch_page:hover,
.openerp .oe_vm_switch_page:focus,
.openerp .oe_vm_switch_page[disabled="disabled"] {
    background-position: -22px -21px;
}
.openerp .oe_vm_switch_graph {
    background-position: -44px 0px;
}
.openerp .oe_vm_switch_graph:active,
.openerp .oe_vm_switch_graph:hover,
.openerp .oe_vm_switch_graph:focus,
.openerp .oe_vm_switch_graph[disabled="disabled"] {
    background-position: -44px -21px;
}

.openerp .oe_vm_switch_gantt {
    background-position: -66px 0px;
}
.openerp .oe_vm_switch_gantt:active,
.openerp .oe_vm_switch_gantt:hover,
.openerp .oe_vm_switch_gantt:focus,
.openerp .oe_vm_switch_gantt[disabled="disabled"] {
    background-position: -66px -21px;
}

.openerp .oe_vm_switch_calendar {
    background-position: -88px 0px;
}
.openerp .oe_vm_switch_calendar:active,
.openerp .oe_vm_switch_calendar:hover,
.openerp .oe_vm_switch_calendar:focus,
.openerp .oe_vm_switch_calendar[disabled="disabled"] {
    background-position: -88px -21px;
}
.openerp .oe_vm_switch_kanban {
    background-position: -110px 0px;
}
.openerp .oe_vm_switch_kanban:active,
.openerp .oe_vm_switch_kanban:hover,
.openerp .oe_vm_switch_kanban:focus,
.openerp .oe_vm_switch_kanban[disabled="disabled"] {
    background-position: -110px -21px;
}

.openerp .oe_vm_switch_diagram {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_diagram:active,
.openerp .oe_vm_switch_diagram:hover,
.openerp .oe_vm_switch_diagram:focus,
.openerp .oe_vm_switch_diagram[disabled="disabled"] {
    background-position: 0px -21px;
}


/* Buttons */
.openerp .oe_button:link,
.openerp .oe_button:visited,
.openerp .oe_button {
    display: inline-block;
    border: 1px solid #C77B74;
    color: #ffffff;
    text-shadow: #ffffff 0 1px 0;
    font-size: 12px;
    padding: 0px 10px;
    text-align: center;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    background-size: 100% 100%;
    background: #C77B74 none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#C77B74), to(#C77B74));
    background: none, -webkit-linear-gradient(#C77B74, #C77B74);
    background: none, -moz-linear-gradient(#C77B74, #C77B74);
    background: none, -o-linear-gradient(top, #C77B74, #C77B74);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#C77B74), to(#C77B74));
    background: -ms-linear-gradient(top, #C77B74, #C77B74);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C77B74', endColorstr='#C77B74',GradientType=0 );
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    outline: none;
}

.openerp .oe_button:hover {
    background-size: 100% 100%;
    box-shadow: 0 2px 4px black inset;
    cursor: pointer;
}

.openerp .oe_button:focus {
    border: 1px solid #7C7BAD;
    background-size: 100% 100%;
    background: #7C7BAD;
    box-shadow: 0 4px 4px black inset;
}
.openerp .oe_button:active,
.openerp .oe_button.active {
    background: #fd5f60;
    background: -moz-linear-gradient(top, #fd5f60, #fd5f60) #fd5f60;
    background: -webkit-gradient(linear, left top, left bottom, from(#fd5f60), to(#fd5f60)) #fd5f60;
    background: linear-gradient(top, #fd5f60, #fd5f60) #fd5f60;
    background: -ms-linear-gradient(top, #fd5f60, #fd5f60);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd5f60', endColorstr='#fd5f60',GradientType=0 );
    -moz-box-shadow: none, 0 0 0 transparent;
    -webkit-box-shadow: none, 0 0 0 transparent;
    -o-box-shadow: none, 0 0 0 transparent;
    box-shadow: none, 0 0 0 transparent;
}

.openerp .oe_button.disabled,
.openerp .oe_button:disabled {
    background: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
    font-size: 12px;
    padding: 3px 10px;
    -moz-box-shadow: none !important, 0 0 0 transparent;
    -webkit-box-shadow: none !important, 0 0 0 transparent;
    -o-box-shadow: none !important, 0 0 0 transparent;
    box-shadow: none !important, 0 0 0 transparent;
    color: #aaaaaa !important;
    cursor: default;
    text-shadow: 0 1px 1px white !important;
}

.openerp .oe_button.oe_button_small {
    padding: 3px 3px;
    margin: 2px 2px;
    height: 24px;
    width: 24px;
    margin-top: -5px;
}
.openerp select.oe_search-view-filters-management {
    font-style: oblique;
    color: #2A3037;
}

.openerp .oe_search-view-filters-management option,
.openerp .oe_search-view-filters-management optgroup {
    font-style: normal;
    color: #2A3037;
}

/* Debug stuff */
.openerp .oe_debug_view_log {
    font-size: 95%;
}
.openerp .oe_debug_view_log label {
    display: block;
    width: 49%;
    text-align: right;
    float: left;
    font-weight: bold;
    color: #2A3037;
}
.openerp .oe_debug_view_log span {
    display: block;
    width: 49%;
    float: right;
    color: #2A3037;
}

/* Internet Explorer Fix */
a img {
   border: none;
}
.ui-tabs .ui-tabs-panel {
padding-top: 0;
}

.oe_debug_view {
    float: right;
    color: #2A3037;
}
